<%-
  Loader('/css/blog.min.css')
  .css('/css/blog.css')
  .css('/css/wangEditor.min.css')
  .dev(filepath);
%>

<div class="mainFrame">
<div class="nav-title  navbar">
    <div class="nav-title-head clearfix" style="width:100%;">
    <!--扔到服务器做重定向好了-->
    <h2 class="navbar-text" >用户详情&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
    </div>
    <div>
        <ul class=" nav navbar-nav ">
            <li role="presentation" class="active"><a href="#">信息</a></li>
            <li role="presentation" ><a href="#">文章</a></li>
            <li role="presentation" ><a href="#">私信</a></li>
            <li role="presentation" ><a href="#">收藏</a></li>
        </ul>
    </div>
</div><!-- nav-title -->

<%- partial('./models/userdetail',{userinfo:userinfo}) %>

<div class="clearfix">
<%- partial('./models/blog',{articles:articleinfo}) %>
</div>

<div class="clearfix">
<%- partial('./models/msg',{msginfo:messageinfo,user:user}) %>
</div>

<div class="clearfix">
<%- partial('./models/bloglist',{articles:collectinfo}) %>
</div>


</div><!--mainframe结束-->

<%- Loader('blog.min.js')
    .js('/js/wangEditor.min.js')
    .js('/js/message.js')
    .done({},filepath,false)
%>