
<link rel="stylesheet" type="text/css" href="./css/blog.css">

<div class="mainFrame">

    <div class="nav-title  navbar">
        <div class="nav-title-head clearfix" style="width:100%;">
        <!--扔到服务器做重定向好了-->
        <h2 class="navbar-text" >课程&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
        </div>

        <div>
            <ul class=" nav navbar-nav ">
                <li role="presentation" class="active"><a href="#">全部</a></li>
                <li role="presentation" ><a href="#">慕课网</a></li>
                <li role="presentation" ><a href="#">实验楼</a></li>
                <li role="presentation" ><a href="#">自创课程</a></li>
            </ul>
        </div>

        <form class="navbar-form navbar-right" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="不要搜了，还没做呢">
            </div>
            <button type="submit" class="btn btn-default search-btn">搜索</button>
        </form>
    </div>

  <div class="row" data-columns>

  <% for(var j = 0;j < 6;j++){%>
    <div class="col-xs-12 col-sm-4 col-md-2">
  <% for(var i = j;i < course.length;i+=6){%>
      <div class="course-item" data-type="<%=course[i].type%>">
        <a href="<%= course[i].href %>" target="_blank">
            <div class="thumbnail">
              <img src="<%= course[i].img %>" alt="...">

              <div class="caption course-caption">
                <h4 class="course-title"><%= course[i].title %></h4>
                <p class="course-breif"><%= course[i].breif %></p>
              </div>
            </div>
        </a>
      </div>
  <%}%>
  </div>
  <%}%>
  </div>

  <nav style="text-align:center;">
    <ul class="pagination pagination-lg">
    </ul>
  </nav>
  </div>




</div><!--mainframe结束-->

<script type="text/javascript">

$('.navbar-nav li').click(function(event){
    $($('.navbar-nav').find('.active')).removeClass('active');
    $(event.target).addClass('active');
    switch($(event.target).text()){
      case "全部":
      $('.course-item').slideDown('slow');
      break;
      case "慕课网":
      $('.course-item').each(function(index, el) {
         if($(el).attr('data-type') == 'imooc')
         {
          $(el).slideDown('slow');
         }
         else{
          $(el).slideUp('slow');
         }
      });
      break;
      case "实验楼":
      $('.course-item').each(function(index, el) {
         if($(el).attr('data-type') == 'shiyan')
         {
          $(el).slideDown('slow');
         }
         else{
          $(el).slideUp('slow');
         }
      });
      break;
      case "自创课程":
        $('.course-item').each(function(index, el) {
         if($(el).attr('data-type') == 'zichuang')
         {
          $(el).slideDown('slow');
         }
         else{
          $(el).slideUp('slow');
         }
      });
      break;

    }
  });

var params;
if(window.location.search){
  search = window.location.search
}else{
  search ="?pagenum=1";
}


  params = search;
  params = params.replace('?','{\"');
  params = params.replace('=','\":\"');
  params = params.replace('&','\",\"');
  params+='\"}';
  var params = JSON.parse(params);


var href = window.location.origin + window.location.pathname;

var pagenum = params.pagenum;
console.log(pagenum);
var li ="";
for(var i = parseInt(pagenum) ;i < parseInt(pagenum)+5; i++){
    li += "<li><a class=\"pagenum\" href=\""+href+"?pagenum="+i+"\">"+i+"</a></li>";
    console.log(i);
}

$(li).each(function(index, el) {
  if(index == 0){
    $(el).addClass('active');
  }
});

if(pagenum > 1){
  var before = "<li><a href=\""+href+"?pagenum="+(parseInt(pagenum)-1)+"\" aria-label=\"Previous\"><span aria-hidden=\"true\">&laquo;</span></a></li>"
}else{
  var before = "<li><a class=\"diasbled\" aria-label=\"Previous\"><span aria-hidden=\"true\">&laquo;</span></a></li>"
}

var after = "<li><a href=\""+href+"?pagenum="+(parseInt(pagenum)+1)+"\" aria-label=\"Next\"><span aria-hidden=\"true\">&raquo;</span></a></li>"

console.log(before+li+after);
$('.pagination').append(before+li+after)
</script>
