<link rel="stylesheet" type="text/css" href="./css/wangEditor.min.css">
<link rel="stylesheet" type="text/css" href="./css/blog.css">
<link rel="stylesheet" type="text/css" href="./css/hideinfo.css">

<% articles = articles[0];%>

<div class="mainFrame">

    <div class="article-edit-mainframe container" style="width:90%;">
        <!--这里是封面所在的位置，和简介-->
        <div class="article-edit-cover col-md-3">
            <div class="thumbnail">
                <% if(articles.articleImg){%>
                <img class="article-edit-cover-img" src="<%- articles.articleImg %>">
                <%}else{%>
                <img class="article-edit-cover-img" src="<%- setting.articleImg %>">
                <%}%>
                <div class="caption" style="text-align:center">
                    <p><%- articles.publicTime %></p>
                    <h3><%- articles.articleTitle %></h3>
                </div>
                <div class="article-edit-box clearfix" >
                  <form class="coverform" action="/wangeditor">
                  <a class="col-md-12 col-sm-12 uploadcover" style="border:none;"><h4><span class="glyphicon glyphicon-open" aria-hidden="true"></span></h4></a>
                  <input type="file" class="file"></input>
                  </form>
                </div>
            </div>

            <div class="list-group article-edit-buttongroup">
            <form class="typechoose">
            <h4>选择类别：</h4>
            <input class="article" type="radio" checked="checked" name="typechoose" value="0">文章</input></br>
            <% if(isAdmin(user[0].userId)){%>
            <input class="activity" type="radio" name="typechoose" value="2">活动</input></br>
            <%}%>
            </form>
            </div>

            <div class="list-group article-edit-buttongroup">
                <a  class="list-group-item save" href="#"><h4>保存文章</h4></a>
                <% if(articles.articleFlag == 0){%>
                <a  class="list-group-item public" href="#"><h4>发布文章</h4></a>
                <% }else{ %>
                <a  class="list-group-item nopublic" href="#"><h4>取消发布</h4></a>
                <%}%>
            </div>

        </div>
        <div id="editor-container" class="article-edit-editor col-md-9" >
            <input class="article-edit-title" placeholder="请在这里输入标题"></input>
            <div id="editor-trigger" >
                <% if(articles.articleContent != null){ %>
                <%- articles.articleContent %>
                <% }else{%>
                <p>请输入内容</p>
                <%}%>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript" src="/js/wangEditor.min.js"></script>

<script type="text/javascript" src="/js/editblog.js"></script>
<script>
$( $('.article-edit-title').val("<%= articles.articleTitle %>"));
</script>

