<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%- setting.siteName %></title>
    <link rel="stylesheet" type="text/css" href="http://cdn.amazeui.org/amazeui/2.7.2/css/amazeui.min.css">
    <link rel="stylesheet" type="text/css" href="./css/index.css">
</head>
<body>

    <div class="background" style="background-image:url(<%- background %>)"></div>
    <div class="main clearfix">
        <div class="right-page left">
            <div class="main-title"><h1>南开腾讯创新俱乐部</h1></div>            
                <div class="main-blocks-left main-blocks left">
                    <%- include ./index/block-list.ejs %>
                </div>
        </div>
        
        <div class="left-page left">

            <div class="main-article-list">
            <% for(var i = 0 ,a = articles;i < articles.length;i++){%>
                <%- partial("./article/article.ejs",{
                                        className:"nk-block-blue",
                                        userNick:a[i].userNick,
                                        title:a[i].articleTitle,
                                        date:a[i].publicTime,
                                        likeNum:a[i].readNum,
                                        collectNum:a[i].collectNum
                                    });
                %>
            <% } %>
            </div>
            
        </div>
    </div>

    <div class="footer clearfix">
        <%- include ./index/footer.ejs %>
    </div>
    
<script type="text/javascript" src="http://cdn.bootcss.com/jquery/3.1.1/jquery.js"></script>
<script type="text/javascript" src="http://cdn.amazeui.org/amazeui/2.7.2/js/amazeui.min.js"></script>

</body>
</html>