<!DOCTYPE html>
<html>
<head>
    <meta name='viewport' content="width=device-width,init-scale=1,user-scale=0" charset="UTF-8">
    <title><%= setting.siteName %></title>
    <!-- public -->
    <%-
    Loader('index.min.js','index.min.css')
    .css('/css/bootstrap.min.css')
    .css('/css/spinner.css')
    .css('/css/sweetalert.css')
    .js('/js/jquery-2.2.0.min.js')
    .js('/js/bootstrap.min.js')
    .js('/js/sweetalert-dev.js')
    .dev(filepath);
    %>

</head>
<body>

<!-- 转场动画 -->
<div class="Myanimate" style="display:block;">
    <div class="spinner">
        <div class="cube1"></div>
        <div class="cube2"></div>
    </div>
</div>
<div class="layout-main">

    <%- partial('guidebar',{user:user}); %>
    <%- body %>
    <%- partial('userhead',{user:user,setting:setting}); %>
</div>

<script type="text/javascript">
$('.layout-main').hide();
window.onload = function(){
   $('.Myanimate').css('display','none');
   $('.layout-main').css('display','block');
}

$('.badge').each(function(index, el) {
    if($(el).text() == "0"){
       $(el).text("");
    }
});


$('.flowWindow').click(function(event) {
    /* Act on the event */
    $('.guideBar').toggleClass('guideBar-show');
    $('.flowWindow').toggleClass('flowWindow-active');
    $('.flowWindow h3').toggleClass('glyphicon-align-justify');
});


//初始化弹出菜单
$('.dropdown-toggle').dropdown()

</script>

</body>
</html>