<%- Loader('blog.min.css')
.css('/css/wangEditor.min.css')
.css('/css/blog.css')
.dev(filepath);
%>

<div class="mainFrame container-fluid">

<div class="nav-title  navbar">
    <div class="nav-title-head clearfix" style="width:100%;">
    <!--扔到服务器做重定向好了-->
    <h2 class="navbar-text" >提醒&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="btn btn-success btn-md message-readallyet" >标记所有已读</a></h2>
    </div>
    <% var userUnMsgNum = 0,sysUnMsgNum = 0 ;
        console.log(msginfo);
        for(var i =0;i < msginfo.length;i++)
            {
             if(msginfo[i].msgType == 0)
                { userUnMsgNum +=msginfo[i].unMsgNum; }
             if(msginfo[i].msgType == 1){sysUnMsgNum +=msginfo[i].unMsgNum;}
            } %>
    <div>
        <ul class=" nav navbar-nav ">
            <li role="presentation" class="active"><a href="#">全部</a></li>
            <li role="presentation" ><a href="#">未读消息<span class="badge unAllMsgNum"><%= user.unMsgNum %></span></a></li>
            <li role="presentation" ><a href="#">系统消息<span class="badge unSysMsgNum"><%= sysUnMsgNum %></span></a></li>
            <li role="presentation" ><a href="#">用户消息<span class="badge unUserMsgNum"><%= userUnMsgNum %></span></a></li>
        </ul>
    </div>
</div><!-- nav-title -->

<%- partial("./models/msg",{msginfo:msginfo,setting:setting})%>

<%- Loader('blog.min.js')
    .js('/js/wangEditor.min.js')
    .js('/js/message.js')
    .dev(filepath);
%>
