 <%- Loader('/css/blog.min.css')
    .css('/css/blog.css')
    .css('/css/hideinfo.css')
   .dev(filepath);
%>

<div class="mainFrame">
<div class="nav-title  navbar">
    <div class="nav-title-head clearfix" style="width:100%;">
    <!--扔到服务器做重定向好了-->
    <h2 class="navbar-text" >个人主页&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>

    <div >
        <ul class=" nav navbar-nav ">
            <li role="presentation"><a href="/setting/<%- user[0].userId %>" >个人信息设置</a></li>
            <li role="presentation" class="active" ><a href="/setting/password/<%- user[0].userId %>">密码修改</a></li>
        </ul>
    </div>
</div><!--navbar结束-->



<div class="userSetting">
<h3>用户名和简介</h3>
<form method="post" action="">
<div class="setting-item">
    <label>请输入现在密码:</label> <input class="setting-item-content" name="password"></input>
</div>

<div class="setting-item">
    <label>请输入新密码:</label> <input class="setting-item-content" name="newpassword"></input>
</div>

<div class="setting-item">
    <label>请重复输入新密码:</label> <input class="setting-item-content" name="renewpassword"></input>
</div>

<button class="btn btn-default saveinfo" type="submit">确定</button>
</form>

<style type="text/css">

    .setting-item{position: relative;margin-top: 10px;}
    .setting-item >label{position: absolute;left: 0;}
    .setting-item-content{margin-left: 150px;}
    .rebreif{display: none;}
</style>

</div><!--row结束-->
</div><!--mainframe结束-->

<script type="text/javascript">
<% if(error){ console.log(error);%>
swal('<%- error %>');
<%}%>
</script>

<%- Loader('/css/blog.min.js')
    .js('/js/writeblog.js')
    .dev(filepath);
%>
