 <%- Loader('/css/blog.min.css')
    .css('/css/blog.css')
    .css('/css/hideinfo.css')
   .dev(filepath);
%>

<div class="mainFrame">
<div class="nav-title  navbar">
    <div class="nav-title-head clearfix" style="width:100%;">
    <!--扔到服务器做重定向好了-->
    <h2 class="navbar-text" >个人主页&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>

    <div >
        <ul class=" nav navbar-nav ">
            <li role="presentation" class="active"><a href="#">个人主页</a></li>
        </ul>
    </div>
</div><!--navbar结束-->


<div class="row">
<%- partial('./models/userdetail',{userinfo:userinfo[0],user:user}) %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">他最近收藏的文章:</h3>
  </div>
  <div class="panel-body">
    <%- partial('./models/bloglist',{articles:particles})%>
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">他最近收藏的文章:</h3>
  </div>
  <div class="panel-body">
    <%- partial('./models/bloglist',{articles:collectinfo})%>
  </div>
</div>


</div><!--row结束-->
</div><!--mainframe结束-->

<%- Loader('/css/blog.min.js')
    .js('/js/writeblog.js')
    .dev(filepath);
%>
