<div class="nk-article clearfix <%- className %>">
    <div class="nk-article-userhead left">
      <img src="http://localhost:8080/img/icon/user_head_default.png">  
    </div>
    <div class="nk-article-userdata left">
        <div class="nk-article-usernick"><%- userNick %></div>
        <div class="nk-article-title"><%- title %></div>
        <div class="nk-article-info">
            <%- date %>  | 喜欢 <%- likeNum %> | 收藏 <%- collectNum %> 
        </div>
    </div>
</div>