
<div class="actlist">
<% if(actinfo.length == 0){ %>
没有活动
<%}else{%>
<%}%>
<% for(var i = 0;i < actinfo.length;i++){%>
<div class="actlist-item clearfix">
    <div class="actlist-item-breif ">
        <div class="actlist-userhead clearfix">

            <img class="img-circle leftArea" src="<%- actinfo[i].userImg?actinfo[i].userImg:setting.userImg %>" alt="用户头像">
            <div class="userinfo leftArea">
            <h4><a href="/user/<%- actinfo[i].userId %>"><%- actinfo[i].userNick %></a></h4>
            <p><%- actinfo[i].publicTime %></p>
            </div>
        </div>
        <div class="actlist-item-title">
            <h3><a href="/blog?action=show&articleid=<%- actinfo[i].articleId %>" ><%- actinfo[i].articleTitle %></a></h3>
            <p><%- actinfo[i].articleContent %><a href="/blog?action=show&articleid=<%- actinfo[i].articleId%>">详情>></a></p>
        </div>
    </div>
    <div class="actlist-item-img rightArea">
        <img src="<%- actinfo[i].articleImg?actinfo[i].articleImg:setting.articleImg %>">
    </div>
</div>
<%}%>

</div>

<style type="text/css">
    .actlist-item{margin-top: 10px;border:1px solid #ddd;}
    .actlist-item:hover{box-shadow: 3px 3px 10px grey;}
    .actlist-item-breif{width: 70%;}
    .leftArea{float: left}
    .rightArea{float: right;}
    .actlist-item-breif{float: left}
    .actlist-userhead img{ height: 5em;width: 5em;margin-top: 5px;margin-left: 5px;}
    .actlist-item .userinfo{text-indent: 1em;}

    .actlist-item-title {text-indent: 6em;margin-top: -20px;}

    .actlist-item-img img{height: 10em;}
</style>