<script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>

<div class="modal fade" data-msgonid="">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <p style="text-align: center;">
        <a href="#" style="position: absolute;right: 1em;" data-dismiss="modal"><span class="glyphicon glyphicon-remove-sign"></span></a>
        正在与<span class="talktouser"></span>对话
        </p>
      </div>
      <div class="modal-body" style="background: #f4f4f3;">

      </div><!--modalbody-->
    <div class="modal-footer">
          <div id="editor-container" class="article-edit-editor"  >
            <div id="editor-trigger" style="height: 10em;">
                <p></p>
            </div>
            <button class="mybutton btn-sendmsg">发送</button>
        </div>
    </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!--这里是所有的列表-->
<div class="message-list list-group">
      <% for(var i = 0;i < msginfo.length;i++){
        if(typeof msginfo[i] == 'undefined') continue;
      %>
        <div class="list-group-item message-list-item" style="overflow: auto;" data-msgonid= "<%= msginfo[i].msgOnId %>" data-msgtype ="<%= msginfo[i].msgType %>" data-msgownid="<%= msginfo[i].msgOwnId %>">
            <div class="media">
              <div class="media-left">
                <a href="#">
                <%if(msginfo[i].userImg == null){%>
                  <img class="media-object img-circle" style="height: 4em;width: 4em;" src="<%- setting.userImg %>" alt="用户头像">
                <%}else{%>
                  <img class="media-object img-circle" style="height: 4em;width: 4em;" src="<%- msginfo[i].userImg %>" alt="用户头像">
                <%}%>
                </a>
              </div>
              <div class="media-body">
                <div class="media-heading meaasge-list-title clearfix">
                    <div class="leftArea" style="float: left;">
                        <h4><span  class="talktousernick"><%= msginfo[i].userNick%></span>&nbsp;&nbsp;<span class="badge"><%= msginfo[i].unMsgNum %></span></h4>
                    </div>
                    <div class="rightArea" style="position: relative;">

                        <span style="margin:10px  0 10px 0 ;color: grey; ">
                            <%= msginfo[i].lastSendTime %>
                        </span>

                        <a href="#">
                            <span class="glyphicon glyphicon-chevron-down message-menu" style="z-index:999;" data-msgonid="<%= msginfo[i].msgOnId %>" data-msgownid="<%= msginfo[i].msgOwnId %>" data-type="menubutton">
                            </span>
                        </a>
                    </div>

                </div>
                <p><%= msginfo[i].msgContent %> </p>
              </div>
            </div>
        </div><!--item结束-->
     <%}%>
    </div><!--group结束-->

<div class="message-opbox">
    <div class="message-opbox-wrap message-opbox-hidden">
        <div class="message-delete message-opbox-item" data-msgonid="" >删除</div>
        <div class="message-readyet message-opbox-item" data-msgonid="" >已读</div>
    </div>
</div>
