
<% for(var i =0;i < userlist.length;i++){ %>

<div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="<%= userlist[i].userImg %>" alt="...">
    </a>
  </div>
  <div class="media-body">
    <a href="/admin/userdetail/<%- userlist[i].userId %>"><h4 class="media-heading"><%= userlist[i].userNick %></h4></a>
    <p> 简介：<%= userlist[i].userBreif %>  用户名:<%= userlist[i].userName %></p>
  </div>
</div>
<% } %>

<style type="text/css">
    .media-object{width: 4em;height: 4em;}
</style>